.left-nav{width:400px;
margin-left:-15px;
}

.show-grid [class^="col-"] {
padding-top: 10px;
padding-bottom: 10px;
background-color: #eee;
border: 1px solid #ddd;
background-color: rgba(86,61,124,.15);
border: 1px solid rgba(86,61,124,.2);
}

.default-blue{
background-color:#428bca;
}
.fl{
	float:left;	
}
.fr{
	float:right;	
}
#a1:hover{
	color:#000;	
}
.gray-border{
	border:1px solid #CCC;
}
.news-font-size{
	font-size:12px;	
}
a.list-group-item:hover,a.list-group-item:focus{text-decoration:none;background-color:#f5f5f5;color:#000;}
a.panel-item{
	color:#555;
	margin-left:20px;
}
a.panel-item:hover,a.panel-item:focus{margin-left:20px;background-color:#f5f5f5;color:#000;}
.panel-body:hover,.panle-body:focus{display:block;background-color:#f5f5f5;color:#000;font-color:#000;}
.round-border{
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}
.deep-blue{
	background-color:#3276b1;	
}
.white-back{
	background-color:#fff;	
}
.slim{
	line-height:1;	
}
.none-bottom{
	border-bottom:0px;	
}
a.head-text{
	color:#000;
}
a.head-text:hover{
	color:#3276b1;	
}