body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(images/bom-1.gif) repeat-x #eef4f6;
}
body,td,th {
	font-size: 12px;
	color: #666666;
}
.lxwm{ color:#007ba8;}
a:link {
	text-decoration: none;
	color: #007ba8;
}
a:visited {
	text-decoration: none;
	color: #007ba8;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
	font-size: 16px;
}
.sytg01 a:link {
	text-decoration: none;
	color: #333333;
}
.sytg01 a:visited {text-decoration: none;
	color: #333333;}
.sytg01 a:hover {text-decoration: none; color:#246a96;}
.ysb01 a:link {
	text-decoration: none;
	color: #333333;
}
.ysb01 a:visited {text-decoration: none;
	color: #333333;}
.ysb01 a:hover {text-decoration: none; color:#246a96;}
.wndh{text-align:left;}
.wndh div{padding:2px;line-height:140%;}
.wndh a:link {
	text-decoration: none;
	color: #60530e;
}
.wndh a:visited {text-decoration: none;
	color: #60530e;}
.wndh a:hover {text-decoration: none; color:#c85712;}
.STYLE1 {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.news { border-bottom:#CCCCCC dashed 1px;}
.STYLE2 { text-align:center;
	font-size: 18px;
	font-weight: bold;
}
.bt01{ height:20px; font-size:14px; font-weight:bold; padding:8px 0 0 5px; border-bottom:#CCCCCC dashed 1px; color:#000000;}
.jj01{ padding:5px; line-height:150%;}
.wndh{ border-bottom:#d6d2b5 solid 1px;}
.dz01{height:20px; font-size:14px; font-weight:bold; padding:8px 0 0 5px;color:#000000;}
.ldi{ padding-left:5px; font-size:14px; font-weight:bold; color:#000;}
.wzd01{ border-bottom:#CCCCCC thin 1px;}
.ysb{ background:#eef4f6; margin:4px 0 10px 5px;}
.cate_title{ font-size:14px; font-weight:bold; padding-left:35px; padding-top:10px;}
.select_off a:link {
	text-decoration: none;
	color: #026b8b;
}
.select_off a:visited {text-decoration: none;
	color: #026b8b;}
.select_off a:hover {text-decoration: none; color:#fff; width:205px; height:22px; background:#51acc3; text-align:center; padding-top:4px;}
.select_on{ color:#fff; width:205px; height:22px; background:#51acc3; text-align:center; padding-top:4px;}


ul, li { list-style:none; }
fieldset, img { border:none; }
legend { display:none; }
em, strong, cite, th { font-style:normal; font-weight:normal; }
input, textarea, select, button { font:12px Helvetica, Arial, sans-serif; }
table { border-collapse:collapse; }
html { overflow:-moz-scrollbars-vertical; } /*Always show Firefox scrollbar*/
/* iBanner style */
#ibanner { position:relative; width:254px; height:180px; overflow:hidden; }
 #ibanner_pic {}
  #ibanner_pic a { position:absolute; top:0; display:block; width:254; height:180; overflow:hidden; }
 #ibanner_btn { position:absolute; z-index:9999; right:5px; bottom:5px; font-weight:700; font-family:Arial; }
  #ibanner_btn span { display:block; float:left; margin-left:4px; padding:0 5px; background:#000; cursor:pointer; }
  #ibanner_btn .normal { height:15px; margin-top:5px; border:1px solid #999; color:#999; font-size:10px; line-height:12px; }
  #ibanner_btn .current { height:20px; border:1px solid #FF5300; color:#FF5300; font-size:14px; line-height:16px; }
  
.imagelist table{float:left;margin:14px;}
/*.navsub div{height:70px;position:absolute;line-height:70px;margin-top:-40px;}*/


.navsub div{position:absolute;height:80px;margin-top:-40px;line-height:80px;}
.navsub div a{background:#89c7de;padding:5px;}

.jpmore{float:right;margin-right:5px;margin-top:4px;}



/* CSS Document */
*{ font-size:12px; }
h2,ul,li,p,span,dl,dt,dd { margin:0; padding:0; }
li { list-style:none; }

/*p1*/
.p1_left h2 { font-size:14px; color:#568394; padding-left:35px; background:url(images/p1_l_1.jpg) no-repeat left;  height:28px; line-height:28px; }
.p1_left h2  span { font-size:12px; font-weight:normal; color:#568394; float:right; margin-right:10px; }
.p1_left h2  span a { color:#568394; text-decoration:none; }
.p1_left h2  span a:hover { color:#568394; text-decoration:underline; }


.p1_left ul { background:url(images/p1_l_2.jpg) no-repeat left top; height:410px; margin-top:5px; padding-top:8px; }
.p1_left ul li { margin:10px 10px 10px 5px; background:url(images/p1_l_3.jpg) no-repeat  5px 10px; padding-left:20px; line-height:24px;}
.p1_left ul li p { color:#568394; }
.p1_left ul li p span { margin-right:20px; }
.p1_left ul li p span a { color:#568394; text-decoration:underline; }
.p1_left ul li p span a:hover { color:#CC3333; text-decoration:underline; }




.p1_r_1 h2 { background:url(images/p1_r_1.jpg) no-repeat left top; height:28px; line-height:28px; padding-left:40px; font-size:14px; color:#2488bf; font-style:italic; margin-bottom:20px; }
.p1_r_1 h2 span { font-size:12px; font-weight:normal;  float:right; margin-right:10px; font-style:normal; }
.p1_r_1 h2 span a { color:#000000; text-decoration:none; }
.p1_r_1 h2 span a:hover{ color:#000000; text-decoration:underline; }
.p1_r_news ul { margin-left:20px; margin-right:20px; }
.p1_r_news ul li { background:url(images/p1_r_5.gif) no-repeat top left; height:26px; overflow:hidden; line-height:26px; padding-left:15px; }
.p1_r_news ul li a { color:#000000; text-decoration:none; }
.p1_r_news ul li a:hover { color:#898989; text-decoration:none; }
.p1_r_news ul li span { float:right; color:#898989; }


.p1_r_2 { margin-top:20px; background:url(images/p1_r_3.jpg) no-repeat left top; height:198px;  }
.p1_r_2_1{ color:#2eac17; font-style:italic; margin-top:25px; margin-left:70px; font-weight:bold; font-size:14px; }
.p1_r_2_2{ margin-top:25px; margin-left:20px; }
.p1_r_2_3 { height:40px; text-align:right; line-height:40px; padding-right:30px; }
.p1_r_2_3 a  { color:#000000; text-decoration:none; }
.p1_r_2_3 a:hover{ color:#000000; text-decoration:underline; }


/*p2*/
.p2_l_1 h2 { font-size:14px; color:#568394; padding-left:35px; background:url(images/p2_l_1.jpg) no-repeat left;  height:28px; line-height:28px; }
.p2_l_1 h2  span { font-size:12px; font-weight:normal; color:#568394; float:right; margin-right:10px; }
.p2_l_1 h2  span a { color:#568394; text-decoration:none; }
.p2_l_1 h2  span a:hover { color:#568394; text-decoration:underline; }


.p2_l_1 ul { background:url(images/p2_l_2.jpg) no-repeat left top; height:241px; padding-top:8px; }
.p2_l_1 ul li { margin:6px 10px 6px 5px; background:url(images/p1_l_3.jpg) no-repeat  5px 10px; padding-left:20px; line-height:24px;}
.p2_l_1 ul li p { color:#568394; }
.p2_l_1 ul li p span { margin-right:20px; }
.p2_l_1 ul li p span a { color:#568394; text-decoration:underline; }
.p2_l_1 ul li p span a:hover { color:#CC3333; text-decoration:underline; }


.p2_l_2 h2 { font-size:14px; color:#568394; padding-left:35px; background:url(images/p2_l_1.jpg) no-repeat left;  height:28px; line-height:28px; }
.p2_l_2 h2  span { font-size:12px; font-weight:normal; color:#568394; float:right; margin-right:10px; }
.p2_l_2 h2  span a { color:#568394; text-decoration:none; }
.p2_l_2 h2  span a:hover { color:#568394; text-decoration:underline; }

.p2_l_2 ul { background:url(images/p2_l_2.jpg) no-repeat left top; height:241px;  padding-top:8px; }
.p2_l_2 ul li { width:90px; float:left; margin-left:10px; margin-top:10px; margin-bottom:10px; }
.p2_l_2 ul li img { width:80px; height:80px; border:3px solid #e1ded0; }


.p2_r_1 { background:url(images/p2_r_1.jpg) no-repeat left top; margin-top:20px; height:227px; }
.p2_r_1 h2 {  padding-left:50px; font-size:14px; color:#2488bf; height:20px;  clear:both; margin-top:10px; margin-bottom:20px;  }
.p2_r_1 h2 span { font-size:12px; font-weight:normal;  float:right; margin-right:10px; font-style:normal; }
.p2_r_1 h2 span a { color:#000000; text-decoration:none; }
.p2_r_1 h2 span a:hover{ color:#000000; text-decoration:underline; }
.p1_r_news ul { margin-left:20px; margin-right:20px; }
.p1_r_news ul li { background:url(images/p1_r_5.gif) no-repeat top left; height:26px; overflow:hidden; line-height:26px; padding-left:15px; }
.p1_r_news ul li a { color:#000000; text-decoration:none; }
.p1_r_news ul li a:hover { color:#898989; text-decoration:none; }
.p1_r_news ul li span { float:right; color:#898989; }

.p2_r_2 { background:url(images/p2_r_2.jpg) no-repeat left top; margin-top:10px; height:265px; }
.p2_r_2 h2 {  padding-left:50px; font-size:14px; color:#2488bf; height:20px;  clear:both; margin-top:10px; margin-bottom:20px;  }
.p2_r_2 h2 span { font-size:12px; font-weight:normal;  float:right; margin-right:10px; font-style:normal; }
.p2_r_2 h2 span a { color:#000000; text-decoration:none; }
.p2_r_2 h2 span a:hover{ color:#000000; text-decoration:underline; }


.p2_r_2_1 dl { margin-left:20px; margin-top:10px; clear:both; }
.p2_r_2_1 dl dt { width:125px; height:85px;  float:left; }
.p2_r_2_1 dl dt img { border:1px solid #999999; }
.p2_r_2_1 dl dd { width:170px; float:left; margin-left:10px;  }
.p2_r_2_1a { height:30px; line-height:30px; font-size:14px; color:#568394; }
.p2_r_2_1b { height:50px; overflow:hidden; line-height:18px; }
.p2_r_2_1a a { font-size:14px; color:#568394; text-decoration:none; }
.p2_r_2_1a a:hover { font-size:14px; color:#568394; text-decoration:underline; }



/*p3*/
.p3_left h2 { font-size:14px; color:#568394; padding-left:35px; background:url(images/p1_l_1.jpg) no-repeat left;  height:28px; line-height:28px; }
.p3_left h2  span { font-size:12px; font-weight:normal; color:#568394; float:right; margin-right:10px; }
.p3_left h2  span a { color:#568394; text-decoration:none; }
.p3_left h2  span a:hover { color:#568394; text-decoration:underline; }

.p3_left_1 { background:url(images/p1_l_2.jpg) no-repeat left top; height:410px; margin-top:5px; padding-top:8px; }
.p3_left_1 dl { clear:both; height:85px; margin-top:10px; background:url(images/p3_l_1.jpg) no-repeat left bottom;  }
.p3_left_1 dl dt { width:62px; height:62px; border:1px solid #c9e8f3; padding:5px 5px; background-color:#FFFFFF; float:left; margin-left:10px; margin-right:10px; }
.p3_left_1 dl dd { width:100px; float:left;}
.p3_l_1a { height:30px; padding-top:20px;  font-size:14px; color:#568394; font-weight:bold; } 
.p3_l_1a a { font-size:14px; color:#568394; text-decoration:none; }
.p3_l_1a a:hover { font-size:14px; color:#568394; text-decoration:underline; }
.p3_l_1b { color:#999999; }

.p3_r_1 { background-color:#eff8fd; background:url(images/p3_r_1.jpg) no-repeat top; min-height:434px; margin-top:10px;   }
.p3_r_1a { font-size:14px; font-weight:bold; color:#568394; }




.wxxz{margin:0;padding:0;}
li.cc a{font-size:14px;font-weight:bold;margin-left:-16px;list-style:square;background:#FFFFFF;}
.zs{margin-top:1px;background:#FFFFFF;width:100%}
.zs td{font-weight:bold;background:#ccc;height:16px;text-align:center;}
#username,#email,#phone,#address{border:1px solid #000000;width:200px;}
#content{width:400px;border:1px solid #000000;}
#yzm{border:1px solid #000000;width:50px;}



#commentsList{border:1px solid #e1e1e1;padding:24px;}

#commentsList .username{padding:0;10px;font-weight:bold;}
.item{margin-top:10px;border-bottom:dotted 1px #e1e1e1;}
.commentcontent{padding:24px;text-indent:24px;background:#eeeeee}
.email,.time{float:right;font-size:10px;padding-left:24px;margin-top:-16px;}

.commentpages{text-align:center;margin-top:24px;}
.commentpages span{padding:5px;}

.reply{margin-top:5px;padding-left:13px;}
.reply .adminname{color:red;font-weight:bold;}
.re{font-weight:bold;color:#51acc3;}

fieldset{display:none;}
.zixun *{font-size:18px;}
.zixun {font-weight:bolder;padding:10px;}

.downloadlist{background:#e1e1e1;margin-top:2px;}
.downloadlist th{font-size:14px;font-weight:bold;text-align:left;}
.downloadlist td{background:#ffffff}
